@charset "utf-8";

/*리셋코드*/
*{margin:0; padding:0;}
li{list-style:none;}
img{vertical-align:top;}
a{text-decoration:none;}

:root{
  font-size:12px; line-height:1.4; color:#333;
  --main:#e3950e;
  --sub:#15422c;
}

header{background:#a3f8d7;}
header .inner{width:1200px; height:100px; margin:0 auto;
  display:flex; justify-content:space-between;
  align-items:center;}

#gnb > ul{display:flex;}
#gnb .list{width:160px; text-align:center; position:relative;}
#gnb .list > a{display:block; height:40px; line-height:40px;
  font-size:20px; font-weight:bold; color:var(--main);
  border:2px solid var(--main);}
#gnb .list:nth-child(1n+2) > a{border-left:0;}  
#gnb .list:hover > a{background:var(--main); color:#fff;}

#gnb .list .sub{position:absolute; width:100%;
  opacity:0; visibility:hidden; transition:all .4s;
  height:144px; background:#ddd;}
#gnb:hover .list .sub{opacity:1; visibility:visible;}
  
#gnb .list .sub a{display:block; font-size:16px;
  line-height:36px; background:#ddd; color:#333;}
#gnb .list .sub a:hover{background:var(--sub); color:#fff;}  

main{width:1200px; height:500px; margin:0 auto;
  border:5px solid #000;}

#slide{height:300px; position:relative; overflow:hidden;}
#slide ul{display:flex; position:absolute; left:0;}

#contents{height:200px; display:flex;
  justify-content:space-between; align-items:center;}

#tab{width:540px; height:180px;}
#tab input{display:none;}
#tab label{display:inline-block; background:#666;
  padding:0 10px; height:30px; line-height:30px;
  color:#fff; cursor:pointer;}
#tab input:checked + label{background:var(--sub);}  

#banner{width:320px; height:180px;}

#link{width:320px; height:180px;}
