@charset "utf-8";

/*reset*/
*{margin:0; padding:0;}
li{list-style:none;}
img{vertical-align:top;}

:root{
  font-size:14px; line-height:1.6; color:#333;
  --main:#2a345f;
  --sub:#2baf32;
}

header{width:1200px; height:100px; margin:0 auto;
  display:flex; justify-content:space-between;
  align-items:center;
  border:3px solid #000;}

#gnb > ul{display:flex;}  
#gnb .list{width:160px; text-align:center;}
#gnb .list > a{display:block; font-size:20px;}