@charset "utf-8";

/*reset*/
*{margin:0; padding:0;}
li{list-style:none;}
img{vertical-align:top;}
a{text-decoration:none;}

:root{
  font-size:14px; line-height:1.6; color:#333;
  --main:#2a345f;
  --sub:#64d469;
}

header{width:1200px; height:100px; margin:0 auto;
  display:flex; justify-content:space-between;
  align-items:center;}

#gnb > ul{display:flex;}  
#gnb .list{width:160px; text-align:center; position:relative;}
#gnb .list > a{display:block; font-size:20px;
  height:40px; line-height:40px;
  border:2px solid var(--main);
  color:var(--main); font-weight:bold;}
#gnb .list:hover > a{background:var(--main); color:#fff;}

#gnb .list .sub{position:absolute; width:100%; 
  opacity:0; visibility:hidden; transition:all .4s;
  z-index:10;}
#gnb .list:hover .sub{opacity:1; visibility:visible;}  

#gnb .list .sub a{display:block; color:16px;
  line-height:36px; background:#ddd; color:#333;}
#gnb .list .sub a:hover{background:var(--sub); color:#fff;}

main{width:1200px; height:500px; margin:0 auto;}

#slide{width:1200px; height:300px; position:relative;} 
#slide li{position:absolute; top:0; left:0;}  
#slide li:nth-child(2),
#slide li:nth-child(3){display:none;}

#contents{width:1200px; height:200px;  
  display:flex; justify-content:space-between;
  align-items:center;}

#tab{width:380px; height:180px; }  
#tab input{display:none;}
#tab label{display:inline-block; background:#666;
  padding:0 10px; height:30px; line-height:30px;
  color:#fff; cursor:pointer;}
#tab input:checked + label{background:var(--main);}

#tab > div{width:100%; height:150px;
  border:5px solid var(--main);
  box-sizing:border-box; display:none;}
#tab1:checked ~ #notice,
#tab2:checked ~ #gallery{display:block;}  

#notice li{line-height:34px; padding:0 10px;
  border-bottom:1px dashed var(--main);}
#notice li:last-child{border:0;}
#notice li a{color:#333;}
#notice li a:hover{color:var(--sub);}

#gallery ul{display:flex; gap:10px; padding:0 10px;
  height:100%; align-items:center;}
#gallery img{width:100%;}

#banner{width:380px; height:180px;}  
#banner img{width:380px; height:180px; object-fit:cover;
  object-position:center;}

#link{width:380px; height:180px;}  

footer{width:1200px; height:100px; margin:0 auto;
  background:#aaa; padding:0 10px; box-sizing:border-box;
  display:flex; align-items:center;}
footer #info{flex-grow:1;/*커지는 비율:남는 영역만큼 가득채움*/
  text-align:center; line-height:30px;}
footer #info ul{display:flex; gap:16px;
  justify-content:center;}  
footer #info a{color:#333;} 
footer #info p{border-top:1px solid #666;}

#popup{position:fixed; top:0; left:0; z-index:100;
  width:100%; height:100%; background:#0008;
  display:none;}
#popup .inner{width:100%; height:100%; display:flex;
  justify-content:center; align-items:center;}
#popup #popup_contents{background:#fff;}
#popup #popup_contents p:last-child{padding:10px;
  text-align:center;}
#popup #popup_contents a{color:#333;}  