@charset "utf-8";

/*리셋코드*/
*{margin:0; padding:0;}
li{list-style:none;}
img, iframe{vertical-align:top;}

:root{
  font-size:14px; line-height:1.6; color:#333333;
  /*CSS변수*/
  --main:#216bb1;
  --sub:#3be6b8;
}

header{
  width:1200px; height:100px; margin:0 auto;
  display:flex;
  justify-content:space-between; /*수평정렬*/
  align-items:center; /*수직정렬*/
  border:1px solid #000;
}

#gnb ul{display:flex;}
#gnb .l1{width:160px; text-align:center;}
#gnb .l1 > a{display:block;
  font-size:20px; color:var(--main);
  font-weight:bold; height:40px;
  line-height:40px;
  border:2px solid var(--main);}






header > *{border:2px solid #f00;}