@charset "utf-8";

/*리셋코드*/
*{margin:0; padding:0;}
li{list-style:none;}
img, iframe{vertical-align:top;}
a{text-decoration:none;}

:root{
  font-size:14px; line-height:1.6; color:#333333;
  /*CSS변수*/
  --main:#216bb1;
  --sub:#3be6b8;
}

header{
  width:1200px; height:100px; margin:0 auto;
  display:flex;
  justify-content:space-between; /*수평정렬*/
  align-items:center; /*수직정렬*/
  border:1px solid #000;
}

#gnb > ul{display:flex;}
#gnb .l1{width:160px; text-align:center;
  position:relative;}
#gnb .l1 > a{display:block;
  font-size:20px; color:var(--main);
  font-weight:bold; height:40px;
  line-height:40px;
  border:2px solid var(--main);}
#gnb .l1:hover > a{background:var(--main); color:#fff;}

#gnb .l1 .sub{position:absolute; width:100%;
  opacity:0; transition:all .4s;
  visibility:hidden; z-index:99;}
#gnb:hover .l1 .sub{opacity:1; visibility:visible;}  

#gnb .l1 .sub a{display:block; font-size:16px;
  line-height:36px;/*행높이*/
  background:#ddd; color:#333;}
#gnb .l1 .sub a:hover{background:var(--sub);
  color:#fff;}  

main{width:1200px; height:500px; margin:0 auto;
  border:1px solid #000;}

#slide{position:relative; height:300px; overflow:hidden;} 
#slide ul{position:absolute; top:0;}

#tab{width:400px; height:200px; padding:10px 0;
  box-sizing:border-box;
  border:5px solid #f00;}
#tab input{display:none;}
#tab label{display:inline-block; padding:0 10px;
  height:30px; line-height:30px;
  background:#666666; color:#fff;
  cursor:pointer;} 
#tab input:checked + label{background:var(--main);}
#tab > div{box-sizing:border-box;
  width:100%; height:150px; display:none;
  border:5px solid var(--main);} 
#tab #tab1:checked ~ #notice,
#tab #tab2:checked ~ #gallery{display:block;} 